body {
    font-family: 'Roboto', sans-serif;
}

.prophets{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
    padding: 1rem;
    color: #fff;
    align-self: center;
}


#cards {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.5rem;
}

#cards section {
    flex: 1 1 320px;
    max-width: 320px;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#cards section h2 {
    margin-bottom: 1rem;
}

#cards section p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

main {
    max-width: 1600px;
    margin: 2rem auto;
    padding: 40px 80px;
    border-radius: 10px;
}

header {
    text-align: center;
    padding: 10px;
    font-size: large;
}

@media (max-width: 767px) {
    #cards {
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }

    #cards section {
        flex: 1 1 auto;
        max-width: 100%;
        margin: 0.5rem 0;
    }
}